{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center;">
        <div class="row">
            <div class="col-md-12">
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="alert alert-success">{{ flash_message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% for topic in topics %}
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="/topic/{{ topic.id }}">{{ topic.title }}</a></h3>
                </div>
                <div style="text-align: right;">
                <div class="panel-body">
                    <img src="/images/users/{{ topic.user.image }}" alt="" class="w3-circle" width="100" height="100"> <br>
                   <b>Author: {{ topic.user.username }}</b> <br>
                </div>
                </div>
                <hr>
                <div class="panel-body">
                    <div class="well">
                        <b>
                            Category: {{ topic.category }} <br>
                            Created: {{ topic.dateCreated|date("m/d/Y  H:i:s") }}
                        </b>
                    </div>
            </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}